@font-face {
    font-family: 'Nabla';
    src: url('@/assets/fonts/nable/Nabla_Regular.woff2') format('woff2'),
        url('@/assets/fonts/nable//Nabla_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}